figure {
    width: 27%; /* Ширина */
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 3.5%; /* Отступ слева */
    border-radius: 5px; /* Радиус скругления */
    padding: 2%; /* Поля */
}
figure:first-child {
    margin-left: 0; /* Убираем отступ для первого элемента */
}

button.delete_product, button.delete_file {
    border: none;
    background: no-repeat;
}