{% extends 'layout/main.html.twig' %}
{% block title %}SunLine Categories{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
    <!-- Propeller dataTables css-->

    <link rel="stylesheet" type="text/css" href="{{ asset('components/data-table/css/pmd-datatable.css') }}">
{% endblock %}
{% block body %}
<div id="content" class="pmd-content inner-page">
    <div class="container-fluid full-width-container data-tables">
        <!-- Title -->
        <h1 class="section-title" id="services">
        </h1><!-- End Title -->

        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li class="active">Sun Line Categories</li>
        </ol><!--breadcrum end-->

        <button data-target="#center-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth sync-categories" type="button">
            Get categories
        </button>

        <button class="btn pmd-ripple-effect btn-primary pmd-z-depth sync-some-products" type="button">
            Get products
        </button>

        <section class="row component-section">
            <div class="col-md-12">
                <div class="component-box">
                    <!-- table card example -->
                    <div  class="pmd-card pmd-z-depth pmd-card-custom-view">
                        <div class="table-responsive">
                            <table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Category ID</th>
                                    <th>Name</th>
                                    <th>Link on category</th>
                                    <th>Pagination</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories  %}
                                    <tr>
                                        <td></td>
                                        <td>{{ category.getId() }}</td>
                                        <td>{{ category.getName() }}</td>
                                        <td><a target="_blank" href="{{ category.getLink() }}">{{ category.getLink() }}</a></td>
                                        <td>
                                            <div class="show_pagination">
                                                <span>{{ category.getPagination() }}</span>
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div style="display:none;">
                                                <input type="number" id="pagination" name="pagination" title="pagination" value="{{ category.getPagination() }}" placeholder="Pagination">
                                                <button class="edit_pagination btn btn-warning" data-id="{{ category.getId() }}" data-page="currencies">Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- table card example end -->

                </div>
            </div> <!-- table card code and example end -->

        </section> <!-- Responsive table end -->
    </div>
</div>
<div tabindex="-1" class="modal fade" id="center-dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <div class="media-body media-middle">
                    <h3 class="pmd-card-title-text">Synchronization process started</h3>
                    <span class="pmd-card-subtitle-text"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Datatable js -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <!-- Datatable Bootstrap -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <!-- Datatable responsive js-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>

    <!-- Datatable select js-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    <!-- Responsive Data table js-->

    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}
