<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Login | Propeller - Admin Dashboard">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Login | Grabber{% endblock %}</title>
    {% block stylesheets %}
        <link rel="shortcut icon" type="image/x-icon"  href="{{ asset('themes/images/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('themes/images/favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('themes/images/favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('themes/images/favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('themes/images/favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('themes/images/favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('themes/images/favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('themes/images/favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('themes/images/favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('themes/images/favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('themes/images/favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('themes/images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('themes/images/favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('themes/images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('themes/images/favicons/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('themes/images/favicons/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/propeller.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('components/datetimepicker/css/bootstrap-datetimepicker.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('components/datetimepicker/css/pmd-datetimepicker.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('themes/css/propeller-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('themes/css/propeller-admin.css') }}">
    {% endblock %}
</head>

<body class="body-custom">
<div class="logincard">
    <div class="pmd-card card-default pmd-z-depth">
        <div class="login-card">
            <form action="{{ path('login') }}" method="post">
                <div class="pmd-card-title card-header-border text-center">
                    {% if error %}
                        <div role="alert" class="alert alert-danger alert-dismissible" style="display: block">
                            <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <div class="loginlogo">
                        <a href="javascript:void(0);"><img src="{{ asset('assets/images/grabber.png') }}" alt="Logo"></a>
                    </div>
                    <h3>Sign In <span>with <strong>GRABBER</strong></span></h3>
                </div>
                <div class="pmd-card-body">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="username" class="control-label pmd-input-group-label">Username</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                    </div>

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="password" class="control-label pmd-input-group-label">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
                            <input type="password" class="form-control" id="password" name="_password" />
                        </div>
                    </div>
                </div>
                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <button type="submit" class="btn pmd-ripple-effect btn-primary btn-block">login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% block javascripts %}
    <!-- Scripts Starts -->
    <script src="{{ asset('assets/js/jquery-1.12.2.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/propeller.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            var sPath=window.location.pathname;
            var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
            $(".pmd-sidebar-nav").each(function(){
                $(this).find("a[href='"+sPage+"']").parents(".dropdown").addClass("open");
                $(this).find("a[href='"+sPage+"']").parents(".dropdown").find('.dropdown-menu').css("display", "block");
                $(this).find("a[href='"+sPage+"']").parents(".dropdown").find('a.dropdown-toggle').addClass("active");
                $(this).find("a[href='"+sPage+"']").addClass("active");
            });
        });
    </script>
{% endblock %}
</body>
</html>