<footer class="admin-footer">
    <div class="container-fluid">
        <ul class="list-unstyled list-inline">
            <li>
                <span class="pmd-card-subtitle-text">Grabber &copy; <span class="auto-update-year"></span>. All Rights Reserved.</span>
            </li>
        </ul>
    </div>
</footer>
