<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">

    <div class="container-fluid">
        <div class="pmd-navbar-right-icon pull-right navigation">
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1200" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons md-light">menu</i></a>
            <a href="index.html" class="navbar-brand">
                <img src="{{ asset('assets/images/grabber-logo.png') }}" height="48px" alt="">
            </a>
        </div>
    </div>

</nav><!--End Nav bar -->
