<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Login | Propeller - Admin Dashboard">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Welcome{% endblock %}</title>
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('assets/images/grabber.png') }}" type="image/x-icon">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/propeller.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('themes/css/propeller-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('themes/css/propeller-admin.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/notify.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}">
    {% endblock %}
</head>

<body class="body-custom">
{% include 'layout/header.html.twig' %}
{% include 'layout/sidebar.html.twig' %}
{% block body %}{% endblock %}
{% include 'layout/footer.html.twig' %}
{% block javascripts %}
<!-- Scripts Starts -->
<script src="{{ asset('assets/js/jquery-1.12.2.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/propeller.min.js') }}"></script>
<script src="{{ asset('assets/js/notify.js') }}"></script>
<script>
    $(document).ready(function() {
        var sPath=window.location.pathname;
        var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
        $(".pmd-sidebar-nav").each(function(){
            $(this).find("a[href='"+sPage+"']").parents(".dropdown").addClass("open");
            $(this).find("a[href='"+sPage+"']").parents(".dropdown").find('.dropdown-menu').css("display", "block");
            $(this).find("a[href='"+sPage+"']").parents(".dropdown").find('a.dropdown-toggle').addClass("active");
            $(this).find("a[href='"+sPage+"']").addClass("active");
        });
    });
</script>
{% endblock %}
<!-- Scripts Ends -->

</body>
</html>